# app/views/games/show.html.erb
<h1>Tic Tac Toe Game</h1>

<p>Player 1: <%= @game.player1_name %> (X)</p>
<p>Player 2: <%= @game.player2_name %> (O)</p>

<div id="board">
  <%= render partial: 'board', locals: { game: @game } %>
</div>
